<div class="col-sm-12">
  <div class="container">
    <div class="col-12">
      <div class="row">
          <div class="form-group col-3">
            <label>
                {{'colis.nomColis' | translate}}
            </label>
            <input class="form-control" [(ngModel)]="newColis.nameColis"/>
          </div>
          <div class="form-group col-7">
            <label>
                {{'common.commentaire' | translate}}
            </label>
            <input class="form-control" [(ngModel)]="newColis.commentaireColis"/>
          </div>
          <div class="form-group col-1">
              <button type="submit" class="btn btn-primary" [disabled]="" (click)="creationColis(newColis)">{{'common.create' | translate}}</button>
          </div>
      </div>
    </div>

    <div class="row">
        <select class="form-control width-c40 col-center-block" (change)="getColisByStatus($event.target.value)" [(ngModel)]="statusColisSelect">
            <option value="{{status.index}}" *ngFor="let status of statusList" style="font-weight: bold">
              {{status.value}}
            </option>
        </select>
    </div>
  </div>

  <div *ngFor="let colis of colisList">
    <div class="col-12 margin-top-20">
      <div class="card">
        <div class="card-header" data-toggle="collapse" [attr.data-target]="'#colis' + colis.idColis">
          <div class="row">
            <div class="col-3">
              <strong class="font-size-24">{{colis.nameColis}}</strong>
              <strong *ngIf="colis.articles.length > 0" class="margin-left-10 ">({{colis.articles.length}})</strong>
            </div>
            <div class="col-6">
              {{colis.commentaireColis}}
            </div>
            <div class="col-3 text-right">
              <span class="font-size-18 margin-left-10">
                <strong>{{colis.statusColis.value}}</strong>
              </span>
            </div>
          </div>
        </div>
        <div id="{{'colis' + colis.idColis}}" class="collapse">
          <div class="card-body">
            <div class="col">
                <div class="row">
                  <span *ngIf="colis.dateEnvoyer != null">
                    {{'common.dateEnvoyer' | translate}}: 
                    <strong>
                      {{colis.dateEnvoyer.toLocaleString() | date:'dd/MM/yyyy HH:mm'}}
                    </strong>
                  </span>
                  <span *ngIf="colis.dateArriver != null" class="margin-left-30">
                    {{'common.dateArriver' | translate}}: 
                    <strong>
                      {{colis.dateArriver.toLocaleString() | date:'dd/MM/yyyy HH:mm'}}
                    </strong>
                  </span>
                </div>
            </div>
            <div class="col">
              <div class="row">
                <button type="button" *ngIf="showBtnEnvoyer(colis)" class="btn btn-danger" (click)="envoyerColis(colis)">{{'common.envoyer' | translate}}</button>
              </div>
              <div class="row">
                <button type="button" *ngIf="colis.statusColis['index']==2" class="btn btn-danger" (click)="arriverColis(colis)">{{'common.arriver' | translate}}</button>
              </div>
            </div>
            <div class="col margin-top-20">
              <div class="row">
                <table class="table">
                  <thead>
                    <tr class="row"> 
                      <th class="col-3">{{'article.nomArticle' | translate}}</th>
                      <th class="col-1">{{'article.count' | translate}}</th>
                      <th class="col-2">{{'user.nomWechat' | translate}}</th>
                      <th class="col-1">{{'user.nomLivraison' | translate}}</th>
                      <th class="col-1">{{'user.telephone' | translate}}</th>
                      <th class="col-4">{{'user.adresse' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row" *ngFor="let article of colis.articles">
                      <td class="col-3">
                        <span>{{article.nameArticle}}</span>
                      </td>
                      <td class="col-1">
                        <span>{{article.countArticleAchete}}</span>
                      </td>
                      <td class="col-2">
                        <span>{{article.commande.client.nameWechat}}</span> 
                      </td>
                      <td class="col-1">
                        <span>{{article.commande.client.nameLivraison}}</span>
                      </td>
                      <td class="col-1">
                        <span>{{article.commande.client.telephone}}</span>
                      </td>
                      <td class="col-4">
                        <span>{{article.commande.client.adresse}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
