<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <a class="nav-link float-right" href="" [routerLink]="['/creationcommande']" routerLinkActive="router-link-active">{{'commande.createCommande' | translate}}</a>
      </div>
      <div class="col-xs-6 col-md-4">
        <select class="form-control" (change)="getCommandesByStatus($event.target.value)" [(ngModel)]="statusCommandeSelect">
          <option value="{{statusGroup.key}}" *ngFor="let statusGroup of statusGroupList | keyvalue" style="font-weight: bold">
            {{statusGroup.value | translate}}
          </option>
          <option value="{{status.key}}" *ngFor="let status of statusList | keyvalue">
            <span *ngFor="let s of status.value | keyvalue">
              {{s.key | translate}}
            </span>
          </option>
        </select>
      </div>
    </div>
  </div>

  <div *ngFor="let commande of commandes">
    <div class="card">
      <div class="card-header" data-toggle="collapse" [attr.data-target]="'#commande' + commande.id">
        <div class="row">
          <div class="col">
            <strong class="font-size-24">
              <span *ngIf="!isCommandeStockage(commande)">
                {{commande.client.nameWechat}}
              </span>
              <span *ngIf="isCommandeStockage(commande)">
                {{'common.stockage' | translate}}
              </span>
            </strong>  
          </div>
          <div class="col text-right">
            <span class="font-size-18">
              <strong [ngStyle]="{'color': commande.status.color}">
                {{commande.status.value | translate}}
              </strong>
            </span>
          </div>
        </div>
      </div>

      <div id="{{'commande' + commande.id}}" class="collapse">
        <div class="card-body">
          <div class="form-group">
            <div *ngIf="!isCommandeStockage(commande)">
              <div class="row margin-bottom-15">
                <div class="col-2">
                  <div class="row">
                    <div class="col-4 text-right">{{'client.nomWechat' | translate}}: </div>
                    <div class="col">
                      <!--<input class="form-control" [(ngModel)]="commande.client.nameWechat" value="{{commande.client.nameWechat}}"/>-->
                      <strong class="font-size-24">{{commande.client.nameWechat}}</strong>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="row">
                    <div class="col-4 text-right">{{'client.nomLivraison' | translate}}</div>
                    <div class="col">
                      <input class="form-control" [(ngModel)]="commande.client.nameLivraison" value="{{commande.client.nameLivraison}}"/>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="row">
                    <div class="col-3 text-right">{{'client.telephone' | translate}}</div>
                    <div class="col">
                      <input class="form-control" [(ngModel)]="commande.client.telephone" value="{{commande.client.telephone}}" intOnly/>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="row">
                    <div class="col-2 text-right">{{'client.adresse' | translate}}</div>
                    <div class="col">
                      <input class="form-control" [(ngModel)]="commande.client.adresse" value="{{commande.client.adresse}}"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="margin-bottom-15" *ngFor="let article of commande.articles; let indexArticle = index;">
              <div class="border border-secondary">
                <div class="margin-10">
                  <div *ngIf="isArticleClient(article)">
                    <!--ligne-->
                    <div class="row margin-bottom-10">
                      <div class="col-6">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col-3 text-right">
                                  {{'article.nomArticle' | translate}}: 
                              </div>
                              <div class="col">
                                <!--<div *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                                  <input class="form-control" [(ngModel)]="article.nameArticle" value="{{article.nameArticle}}"/>
                                </div>
                                <div *ngIf="!onlyShowPourCommandeNonEnvoyee(commande.status.index)">-->
                                <div *ngIf="article.idArticle != null">
                                  <strong>
                                    <span>
                                      {{article.nameArticle}}
                                    </span>
                                  </strong>
                                </div>
                                <div *ngIf="article.idArticle == null">
                                  <!--id="{{'nameArticle_commande_' + commande.id + '_article' + indexArticle}}" -->
                                  <!--[formControl]="nameArticleFormControl" -->
                                  <input type="text" (ngModelChange)="changeNameArticle($event, commande.id, indexArticle, article)" class="form-control" [(ngModel)]="article.nameArticle" placeholder="666" matInput [matAutocomplete]="auto">
                                  <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option (onSelectionChange)="onEnterNameArticle($event)" *ngFor="let option of filteredOptions" [value]="option.nameArticleStockage">
                                      {{option.nameArticleStockage}}
                                    </mat-option>
                                  </mat-autocomplete>
                                </div>
                                <!--</div>-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-6 text-right">
                              {{'article.prixAchat' | translate}}:
                          </div>
                          <div class="col">
                            <input class="form-control" [(ngModel)]="article.priceAchat" value="{{article.priceAchat}}"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-6 text-right">
                              {{'article.prixVente' | translate}};
                          </div>
                          <div class="col">
                            <input class="form-control" [(ngModel)]="article.priceVente" value="{{article.priceVente}}"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-6 text-right">
                              {{'article.count' | translate}}:
                          </div>
                          <div class="col">
                            <div *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <input class="form-control" [(ngModel)]="article.count" value="{{article.count}}"/>
                            </div>
                            <div *ngIf="!onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <strong>
                                <span>
                                  {{article.count}}
                                </span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--ligne-->
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col text-right">
                              {{'article.countAchete' | translate}}:
                          </div>
                          <div class="col">
                            <div *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <input class="form-control" [(ngModel)]="article.countArticleAchete" value="{{article.countArticleAchete}}"/>
                            </div>
                            <div *ngIf="!onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <strong>
                                <span>
                                  {{article.countArticleAchete}}
                                </span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="row">
                          <div class="col text-right">
                              {{'article.countStockageFranceAvailable' | translate}}:
                          </div>
                          <div class="col">
                            <div *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <select class="form-control" (ngModelChange)="changeSelectCountArticleFromStockageFrance(article, $event)" [(ngModel)]="article.countArticleFromStockageFrance" [compareWith]="compareCount">
                                <option value="0">0</option>
                                <option *ngFor="let ac of article.countArticleFromStockageFranceSelectable" value="{{ac}}">
                                  {{ac}}
                                </option>
                              </select>
                            </div>
                            <div *ngIf="!onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <strong>
                                <span>
                                  {{article.countArticleFromStockageFrance}}
                                </span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="row">
                          <div class="col text-right">
                              {{'article.countStockageChine' | translate}}:
                          </div>
                          <div class="col">
                            <div *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <select class="form-control" (ngModelChange)="changeSelectCountArticleFromStockageChine(article, $event)" [(ngModel)]="article.countArticleFromStockageChine" [compareWith]="compareCount">
                                <option value="0">0</option>
                                <option *ngFor="let ac of article.countArticleFromStockageChineSelectable" value="{{ac}}">
                                  {{ac}}
                                </option>
                              </select>
                            </div>
                            <div *ngIf="!onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <strong>
                                <span>
                                  {{article.countArticleFromStockageChine}}
                                </span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col margin-bottom-10">
                        <div class="row">
                          <div class="col text-right">
                            {{'article.countStockageRoute' | translate}}:
                          </div>
                          <div class="col">
                            <div *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <!--<input class="form-control" [(ngModel)]="article.countArticleFromStockageEnRoute" value="{{article.countArticleFromStockageEnRoute}}"/>-->
                              <select class="form-control" (ngModelChange)="changeSelectCountArticleFromStockageEnRoute(article, $event)" [(ngModel)]="article.countArticleFromStockageEnRoute" [compareWith]="compareCount">
                                <option value="0">0</option>
                                <option *ngFor="let ac of article.countArticleFromStockageEnRouteSelectable" value="{{ac}}">
                                  {{ac}}
                                </option>
                              </select>
                            </div>
                            <div *ngIf="!onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                              <strong>
                                <span>
                                  {{article.countArticleFromStockageEnRoute}}
                                </span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--ligne-->
                    <div class="row">
                      <div class="col">
                        <div *ngIf="article.statusArticlePreparation != null">
                          <span>{{'article.statusArticlePreparation' | translate}}: </span>
                          <span class="font-size-18 margin-left-10">
                            <strong [ngStyle]="{'color': article.statusArticlePreparation.color}">{{article.statusArticlePreparation.value | translate}}</strong>
                          </span>
                        </div>
                      </div>

                      <div *ngIf="disabledSelectColis(article)">
                        <div class="col">
                          <div class="col-xs-12">
                            <label class="form-inline">{{'colis.colis' | translate}}: 
                              <div class="width-15"></div>
                              <div *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)">
                                <select class="form-control width-auto" [(ngModel)]="article.colis" [compareWith]="compareColis" #ngModelSelectColis="ngModel" (ngModelChange)="changeColis(article, ngModelSelectColis)">   
                                    <option [ngValue]="null"></option>
                                    <option [ngValue]="colisList[i]" *ngFor="let colis of colisList | keyvalue; let i=index" style="font-weight: bold">
                                        {{colisList[i]['nameColis']}}
                                    </option>
                                </select>
                              </div>
                              <div *ngIf="commande.status['index'] === 5">
                                <strong>
                                  <span>{{article.colis.nameColis}}</span>
                                </strong>
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <button type="button" *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)" class="btn btn-sm float-right" (click)="supprimerArticleConfirm(article, commande)">{{'article.deleteArticle' | translate}}</button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isArticleClient(article)">
                    <div class="row margin-bottom-10">
                      <div class="col-5">
                        <div class="col">
                          <div class="row">
                            <div class="col-3 text-right">
                                {{'article.nomArticle' | translate}}: 
                            </div>
                            <div class="col">
                              <strong>
                                <span>
                                  {{article.nameArticle}}
                                </span>
                              </strong>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-3 text-right">
                            {{'article.count' | translate}}:
                          </div>
                          <div class="col">
                            <strong>
                              <span>
                                {{article.count}}
                              </span>
                            </strong>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-6 text-right">
                            <div class="col-xs-12">
                              <label class="form-inline">{{'colis.colis' | translate}}: 
                                <div class="width-15"></div>
                                <strong>
                                  <span>{{article.colis.nameColis}}</span>
                                </strong>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="row">
                          <div class="col text-right">
                            <span>{{'article.statusArticlePreparation' | translate}}: </span>
                            <span class="font-size-18 margin-left-10">
                              <strong [ngStyle]="{'color': article.statusArticlePreparation.color}">{{article.statusArticlePreparation.value | translate}}</strong>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <button type="button" *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)" class="btn btn-primary" (click)="addArticle(commande)">{{'article.addArticle' | translate}}</button>
                  </div>
                  <div class="col">
                    <button type="button" *ngIf="onlyShowPourCommandeNonEnvoyee(commande.status.index)" class="btn btn-outline-primary float-right margin-left-10" (click)="supprimerCommandeConfirm(commande)">{{'common.delete' | translate}}</button>
                    <button type="button" class="btn btn-primary float-right" data-toggle="collapse" [attr.data-target]="'#commande' + commande.id" (click)="updateCommande(commande)">
                      <!--[disabled]="validatorBtnSave(commande)" -->
                      {{'common.save' | translate}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>

</div>