<div class="col-sm-12">
  <div class="col-sm-12">
    <h2>{{'stockage.createStockage' | translate}}</h2>
  </div>
  <div class="col-12">
      <div class="row">
        <div class="form-group col-6">
          <label>
              {{'article.nomArticle' | translate}}
          </label>
          <input type="text" class="form-control" [(ngModel)]="createArticleStockage.nameArticleStockage" />
        </div>
        <div class="form-group col-1">
          <label>
              {{'article.prixAchat' | translate}}
          </label>
          <input type="text" class="form-control" [(ngModel)]="createArticleStockage.priceAchatStockage" />
        </div>
        <div class="form-group col-2">
          <label>
              {{'article.countStockageFranceAvailable' | translate}}
          </label>
          <input type="text" class="form-control" [(ngModel)]="createArticleStockage.countStockageFranceAvailable" intOnly/>
        </div>
        <input type="hidden" class="form-control" [(ngModel)]="createArticleStockage.countStockageFranceColis"/>
        <input type="hidden" class="form-control" [(ngModel)]="createArticleStockage.countStockageEnRoute"/>
        <input type="hidden" class="form-control" [(ngModel)]="createArticleStockage.countStockageChine"/>
        <div class="form-group col">
            <button type="submit" class="btn btn-primary" [disabled]="!validatorBtnCreate(createArticleStockage)" (click)="creationArticleStockage(createArticleStockage)">{{'common.create' | translate}}</button>
        </div>
      </div>

  </div>
  <div class="col-sm-12">
    <h2>{{'stockage.listStockage' | translate}}</h2>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
        <tr class="row"> 
          <th class="col-3">{{'article.nomArticle' | translate}}</th>
          <th class="col-1">{{'article.prixAchat' | translate}}</th>
          <th class="col-2">{{'article.countStockageFranceAvailable' | translate}}</th>
          <th class="col-2">{{'article.countStockageFranceColis' | translate}}</th>
          <th class="col-1">{{'article.countStockageRoute' | translate}}</th>
          <th class="col-1">{{'article.countStockageChine' | translate}}</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" *ngFor="let stockage of stockages">
          <td class="col-3" [hidden]="stockage.isOnEdit">{{stockage.nameArticleStockage}}</td>
          <td class="col-1" [hidden]="stockage.isOnEdit">{{stockage.priceAchatStockage}}</td>
          <td class="col-2" [hidden]="stockage.isOnEdit">{{stockage.countStockageFranceAvailable}}</td>
          <td class="col-2" [hidden]="stockage.isOnEdit">{{stockage.countStockageFranceColis}}</td>
          <td class="col-1" [hidden]="stockage.isOnEdit">{{stockage.countStockageEnRoute}}</td>
          <td class="col-1" [hidden]="stockage.isOnEdit">{{stockage.countStockageChine}}</td>

         <td class="col-3" [hidden]="!stockage.isOnEdit">
            <input class="form-control" [hidden]="true" [(ngModel)]="stockage.idArticleStockage" value="{{stockage.idArticleStockage}}"/>
            <!--<input class="form-control" [(ngModel)]="stockage.nameArticleStockage" value="{{stockage.nameArticleStockage}}"/>-->
            {{stockage.nameArticleStockage}}
          </td>
          <td class="col-1" [hidden]="!stockage.isOnEdit">
            <input class="form-control" [(ngModel)]="stockage.priceAchatStockage" value="{{stockage.priceAchatStockage}}"/>
          </td>
          <td class="col-2" [hidden]="!stockage.isOnEdit">
            <input class="form-control" [(ngModel)]="stockage.countStockageFranceAvailable" value="{{stockage.countStockageFranceAvailable}}"/>
          </td>
          <td class="col-2" [hidden]="!stockage.isOnEdit">
            <input class="form-control" [(ngModel)]="stockage.countStockageFranceColis" value="{{stockage.countStockageFranceColis}}"/>
          </td>
          <td class="col-1" [hidden]="!stockage.isOnEdit">
            <input class="form-control" [(ngModel)]="stockage.countStockageChine" value="{{stockage.countStockageChine}}"/>
          </td>
          <td class="col-1" [hidden]="!stockage.isOnEdit">
            <input class="form-control" [(ngModel)]="stockage.countStockageEnRoute" value="{{stockage.countStockageEnRoute}}"/>
          </td>
          <td class="col-2">
              <button class="btn btn-primary" [hidden]="stockage.isNotToEdit" (click)="editArticleStockage(stockage)">{{'common.edit' | translate}}</button>
              <button class="btn btn-primary margin-right-10" [hidden]="!stockage.isOnEdit" (click)="saveArticleStockage(stockage)">{{'common.save' | translate}}</button>
              <button class="btn btn-primary" [hidden]="!stockage.isOnEdit" (click)="cancelEditArticleStockage(stockage)">{{'common.cancel' | translate}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
