<div class="col-sm-12">
  <div class="container">
    <div class="row">
        <select class="form-control width-c40 col-center-block" (change)="getColisByStatus($event.target.value)" [(ngModel)]="statusColisSelect">
            <option value="{{status.index}}" *ngFor="let status of statusList" style="font-weight: bold">
              {{status.value | translate}}
            </option>
        </select>

        <div class="form-group col">
          <button type="submit" class="btn btn-primary" (click)="creationNewColis()">{{'message.createNewColis' | translate}}</button>
        </div>
    </div>
  </div>

  <div *ngFor="let colis of colisList">
    <div class="col-12 margin-top-20">
      <div class="card">
        <div class="card-header" data-toggle="collapse" [attr.data-target]="'#colis' + colis.idColis">
          <div class="row">
            <div class="col-3">
              <strong class="font-size-24">{{colis.nameColis}}</strong>
              <strong *ngIf="colis.articles.length > 0" class="margin-left-10 ">({{colis.articles.length}})</strong>
            </div>
            <div class="col-6">
              {{colis.commentaireColis}}
            </div>
            <div class="col-3 text-right">
              <span class="font-size-18 margin-left-10">
                <strong>{{colis.statusColis.value | translate}}</strong>
              </span>
            </div>
          </div>
        </div>
        <div id="{{'colis' + colis.idColis}}" class="collapse">
          <div class="card-body">
            <div class="col margin-bottom-15">
              <div class="row">
                <div class="col-2">
                  <button type="button" *ngIf="showBtnDelete(colis)" class="btn btn-danger" (click)="deleteColis(colis)">{{'common.delete' | translate}}</button>
                  <button type="button" *ngIf="showBtnEnvoyer(colis)" class="btn btn-danger" (click)="envoyerColis(colis)">{{'common.envoyer' | translate}}</button>
                  <button type="button" *ngIf="colis.statusColis['index']==2" class="btn btn-danger" (click)="arriverColis(colis)">{{'common.arriver' | translate}}</button>
                </div>
                <div class="col">
                  <span *ngIf="colis.dateEnvoyer != null">
                    {{'common.dateEnvoyer' | translate}}: 
                    <strong>
                      {{colis.dateEnvoyer.toLocaleString() | date:'dd/MM/yyyy HH:mm'}}
                    </strong>
                  </span>
                  <span *ngIf="colis.dateArriver != null" class="margin-left-30">
                    {{'common.dateArriver' | translate}}: 
                    <strong>
                      {{colis.dateArriver.toLocaleString() | date:'dd/MM/yyyy HH:mm'}}
                    </strong>
                  </span>
                </div>
              </div>
            </div>

            <div class="border border-secondary" [hidden]="!isShowArticleStockage(colis)">
              <div class="margin-10">
                <div class="col" [hidden]="!isColisNonEnvoyee(colis)">
                  <div class="row">
                    <div class="col-3">
                      <strong>
                        {{'message.addFromStockage' | translate}} : 
                      </strong>
                    </div>
                    <div class="col-5">
                      <select class="form-control width-c40" [(ngModel)]="newArticleStockage" (ngModelChange)="changetCreateArticleStockageSelected($event)">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let stockage of stockageList" [ngValue]="stockage">{{stockage.nameArticleStockage}}</option>
                      </select>
                    </div>
                    <div class="col-3">
                        <div class="row" *ngIf="countForCreateArticleStockageSelected?.length || 0">
                          <div class="col text-right">
                            {{'article.count' | translate}}: 
                          </div>
                          <div class="col">
                            <select class="form-control" [(ngModel)]="countArticleStockage">
                              <option *ngFor="let count of countForCreateArticleStockageSelected" [ngValue]="count">{{count}}</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="col-1">
                      <button type="submit" class="btn btn-primary" [disabled]="!isAllowAddFromStockage(newArticleStockage)" (click)="putArticleStockageInColis(newArticleStockage, countArticleStockage, colis.idColis)">
                        {{'common.create' | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div *ngFor="let article of colis.articles; let i = index;">
                    <div *ngIf="article.typeArticle.index == 2">
                      <div class="roundedRectangle">
                        <strong class="font-size-18">
                          {{article.nameArticle}} x {{article.count}}
                        </strong>
                        <a class="btn" [hidden]="!isColisNonEnvoyee(colis)" (click)="removeArticleStockage(article, i, colis)"><i style="font-size:24px" class="fa">&#xf00d;</i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col margin-top-20">
              <div class="row">
                <table class="table">
                  <thead>
                    <tr class="row"> 
                      <th class="col-3">{{'article.nomArticle' | translate}}</th>
                      <th class="col-1">{{'article.count' | translate}}</th>
                      <th class="col-2">{{'user.nomWechat' | translate}}</th>
                      <th class="col-1">{{'user.nomLivraison' | translate}}</th>
                      <th class="col-1">{{'user.telephone' | translate}}</th>
                      <th class="col-4">{{'user.adresse' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let article of colis.articles">
                      <tr class="row" *ngIf="article.typeArticle.index == 1"> 
                        <td class="col-3">
                          <span>{{article.nameArticle}}</span>
                        </td>
                        <td class="col-1">
                          <span>{{article.countArticleAchete}}</span>
                        </td>
                        <td class="col-2">
                          <span>{{article.commande.client.nameWechat}}</span> 
                        </td>
                        <td class="col-1">
                          <span>{{article.commande.client.nameLivraison}}</span>
                        </td>
                        <td class="col-1">
                          <span>{{article.commande.client.telephone}}</span>
                        </td>
                        <td class="col-4">
                          <span>{{article.commande.client.adresse}}</span>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
